/* این را در فایلی به نام custom-styles.css ذخیره کن */
@font-face {
    font-family: 'IRANYekan';
    src: url('/app/assets/fonts/IRANYekan-Regular.woff2') format('woff2');
    font-weight: 400;
}

body, h1, h2, h3, .text-bold {
    font-family: 'IRANYekan', sans-serif !important;
}
